.gradle
.idea
BaseWork/.idea
BaseWork/app/build
BaseWork/build
BaseWork/BaseWork.iml
BaseWork/app/app.iml
BaseWork/local.properties
BaseWork/app/debug.jks
BaseWork/app/release/output.json
BaseWork/app/release/快速开发_1.0_2018-05-23.apk
